.Mesero-header{
    background: #F3B700;
}
.Logo-Mesero{
    width: 63px;
    position: relative;
    left: 30px;
}
.Mesero-body{
    background: #EEEEEE;
    height: 936px;
    padding-top: 58px;
}
.Mesero-datos{
    display: flex;
    justify-content: center;
    place-content: space-evenly;
}
.input-mesero{
    appearance: none;
    background: black;
    color: white;
    font-family: Livvic;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    border-radius: 15px;
    outline: none;
    position: relative;
    width: 184px;
    height: 40px;
    top: 16px;
}
.input-mesero::placeholder{
    outline: none;
    color: white;
    font-family: Livvic;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    border-radius: 15px;
}
.input-mesa{
    appearance: none;
    background: black;
    color: white;
    font-family: Livvic;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    border-radius: 15px;
    outline: none;
    position: relative;
    width: 184px;
    height: 40px;
    top: 16px;
}
.input-mesa::placeholder{
    outline: none;
    color: white;
    font-family: Livvic;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    border-radius: 15px;
}
.input-cliente{
    appearance: none;
    background: black;
    color: white;
    font-family: Livvic;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    border-radius: 15px;
    outline: none;
    position: relative;
    width: 184px;
    height: 40px;
    top: 16px;
}
.input-cliente::placeholder{
    outline: none;
    color: white;
    font-family: Livvic;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    border-radius: 15px;
}
.Mesero-options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 62px;
}
.Mesero-pedido{
    margin-top: 10px;
   margin-left: 10px;
    width: 423px;
    height: 457.11px;
    background: #FEFEFE;
    border-radius: 15px;
    left: 10px;
    overflow: scroll;
    display: flex;
    justify-content: center;
}
/* width */ 
::-webkit-scrollbar{
  width: 20px;
  height: 0px;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px #f3b700;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb{
  background: #f3b700;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #f3b700;
}

.Mesero-productos{
    position: relative;
    width: 677px;
    /* height: 523px; */
    top: 10px;
    background: #D8D7D7;
    border-radius: 15px;
}
.btns-pedido{
    top: 485px;
    position:absolute ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enviar-cocina{
    /* position: static; */
     margin: 5px; 
     width: 176px;
     height: 56px;
    background: #78BB55;
    border-radius: 15px;
    font-family: Livvic;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}
.producto {
  background: transparent;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  width: 160px;
  height: 130.33px;
  left: 81px;
  top: calc(50% - 142.33px / 2 - 122.36px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 8px;
  border: solid;
}

.cancelar-pedido{
    /* position: relative; */
    width: 176px;
    height: 56px;
    left: 20px;
    background: #FF0000;
    border-radius: 15px;
    font-family: Livvic;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.BtnAlmuerzo {
  appearance: none;
  background: black;
  color: white;
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  border-radius: 15px;
  outline: none;
  position: relative;
  padding-left: 5px;
  margin-left: 25px;
  width: 200px;
  height: 55px;
  top: 16px;
}
.cantidad {
    font-size: 12pt;
    padding-left: 5px;
    padding-right: 10px;
}
.vistas-productos{
 display: flex;
 justify-content: center;
}
.btn {
    width: 23px;
    height: 25px;
    padding: 0 !important;
    font-size: 12px !important;
    text-align: -webkit-center;
}
.bg-light{
    display: flex;
    justify-content: center;
    background-color: transparent !important;
}
.badge{
    color: black;
}
.btn-info{
    background-color: rgb(243, 204, 0) !important;
    border-color: rgb(243, 204, 0) !important;
}

.btnReturn{
    
}

/* formato para Tablet
@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait){
.Mesero-productos{
    max-width: 60%;
    overflow: scroll;
  }

.BtnAlmuerzo{
    height: 43px;
    width: 282px;
}
.btns-pedido{
     height: 43px;
    width: 282px;
}

} */

